<h2>Occasion</h2>
<form (ngSubmit)="onSubmit()">
<div class="add-occasion-container">
    <mat-form-field>
      <input [(ngModel)]="occasion.title" name="title" matInput placeholder="Title">
    </mat-form-field>
  
    <mat-form-field>
      <input [(ngModel)]="occasion.date" name="date" matInput placeholder="Date"/>
      <mat-hint>Date</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <textarea [(ngModel)]="occasion.notes" name="notes" matInput placeholder="Notes"></textarea>
      <mat-hint>Notes</mat-hint>
    </mat-form-field>
  
    <mat-form-field>
      <mat-select [(ngModel)]="occasion.type" name="type" placeholder="Select">
        <mat-option value="breakfast">Breakfast</mat-option>
        <mat-option value="brunch">Brunch</mat-option>
        <mat-option value="lunch">Lunch</mat-option>
        <mat-option value="dinner">Dinner</mat-option>
        <mat-option value="cocktails">Cocktails</mat-option>
        <mat-option value="party">Party</mat-option>
        <mat-option value="boat">Boat</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div [froalaEditor] [(froalaModel)]="editorContent"></div>

  <button mat-button type="submit">Submit</button>
</form>