<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span routerLink="/">Entertainment Log</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="accent" routerLink="/add">Add</button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="flex-container">
  <div class="par-1">alskjdf laksjdflka sjdflk asldkjfas lfk</div>
  <div class="par-2">lkasjd flkjasdlkf asldkfj saldkfjsald f</div>
  <div class="par-3">lkasjd flkasdjflk jdsfaljasdlkfj saldf</div>
  
</div>


<router-outlet></router-outlet>


