/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~froala-editor/css/froala_editor.pkgd.min.css";
@import "~froala-editor/css/froala_style.min.css";
@import "~font-awesome/css/font-awesome.css";


$mycolor:#cc0000;

body {
    font-family: Arial, Helvetica, sans-serif
}

.mainpa {
    color:$mycolor;
    font-weight:bold;
}